body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    position: relative;
}

.div1, .div3, .div5 {
    width: 100px;
    height: 100px;
    background-color: black;
}

.div2, .div4 {
    width: 100px;
    height: 100px;
    background-color: grey;
}

.div2 {
    position: absolute;
    top: 60px;
    left: 60px;
}

.div3 {
    position: absolute;
    top: 120px;
    left: 120px;
}

.div4 {
    position: absolute;
    top: 180px;
    left: 180px;
}

.div5 {
    position: absolute;
    top: 240px;
    left: 240px;
}