body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    position: relative;
}

.div1 {
    width: 200px;
    height: 300px;
    background-color: grey;
    position: relative;
}

.div2 {
    width: 150px;
    height: 150px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 150px;
}

.div3 {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    position: absolute;
    right: 0;
    top: 250px;
}