body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 300px;
    height: 300px;
    background-color: grey;
    display: flex;
    justify-content: flex-end;
}

.container {
    width: 100px;
    height: 100px;
    background-color: black;
}