body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer {
    width: 200px;
    height: 200px;
    background-color: gray;
}

.inner {
    width: 100px;
    height: 100px;
    background-color: black;
}

.main, .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    height: 100vh;
}