body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.div1 {
    width: 500px;
    height: 200px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.div2, .div3 {
    width: 100px;
    height: 100px;
    background-color: black;
}