body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: flex-end;
}

.div1 {
    width: 200px;
    height: 200px;
    background-color: grey;
    display: flex;
    align-items: flex-end;
}

.div2 {
    width: 100px;
    height: 100px;
    background-color: black;
}