body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    position: relative;
    width: 450px;
    height: 350px;
}

.div1, .div4 {
    width: 200px;
    height: 200px;
    background-color: grey;
}

.div2, .div3 {
    width: 100px;
    height: 100px;
    background-color: black;
}

.div2 {
    position: absolute;
    right: 0;
    top: 0;
}

.div3 {
    position: absolute;
    bottom: 0;
}

.div4 {
    position: absolute;
    right: 0;
    bottom: 0;
}