body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inner {
    width: 100px;
    height: 100px;
    background-color: black;
}

.main {
    display: flex;
    flex-direction: column;
}

.div1 {
    display: flex;
    justify-content: flex-end;
}

.div2 {
    display: flex;
    justify-content: center;
}

.div3 {
    display: flex;
    justify-content: flex-start;
}