body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    position: relative;
}

.div1 {
    width: 100px;
    height: 100px;
    background-color: black;
}

.div2 {
    width: 100px;
    height: 100px;
    background-color: gray;
    position: absolute;
    top: 60px;
    left: 60px;
}