body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 200px;
    height: 300px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.div1, .div2 {
    width: 100px;
    height: 100px;
    background-color: black;
}

.div1 {
    position: absolute;
    top: 0;
}

.div2 {
    position: absolute;
    bottom: 0;
}