body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.container {
    width: 400px;
    height: 150px;
    background-color: grey;
    position: relative;
}

.div1, .div2 {
    width: 100px;
    height: 100px;
    background-color: black;
}

.div1 {
    position: absolute;
    right: 0;
}

.div2 {
    position: absolute;
    bottom: 0;
}