body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div1 {
    width: 200px;
    height: 300px;
    background-color: grey;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.div2 {
    width: 150px;
    height: 150px;
    background-color: black;
    position: relative;
}

.div3 {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    position: absolute;
    right: 10px;
    bottom: 10px;
}