body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inner {
    width: 100px;
    height: 100px;
    background-color: black;
}

.main, .container {
    display: flex;
    justify-content: space-between;
}

.div3 {
    margin-left: 10px;
}